/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

aside {
    text-align: center;
    background-color: black;
    padding: 20px;
}


aside p {
    color: white;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

a {
	text-decoration: none;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

#btnModifier {
	border: none;
	background: white;
	cursor: pointer;
}

i.fa-regular.fa-pen-to-square{
	color: black;
}

.overlayModale {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display:none;
}

.modaleSupprProjet {
	width: 430px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	background-color: white;
	padding-top: 50px;
	border-radius: 20px;
	padding-left:100px;
	padding-right: 100px;
	display:none;
}
 .delBtn{
	position: relative;
	top: -105px;
	right: -55px;
	color: white;
	background: black;
	border: none;
	cursor: pointer;
 }

.modaleSupprOpen {
	display: block;
}

.btnModalClose {
	position: absolute;
	top: 25px;
	right: 25px;
	font-weight: bolder;
	border: none;
	background-color: white;
	cursor: pointer;
}

.modaleSupprHead {
	margin-top:10px;
}

.modaleSupprBody {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 7px;
}

.projetModale {
	width: 80px;
	height: 130px;
	
}

.modaleSupprBody img {
	height :110px;
	width: 80px;
	object-fit: contain;
}

.modaleSupprFoot {
	text-align: center;
	width: auto;
	margin-top: 20px;
	padding: 35px;
	border-top: 1px solid grey;
}

.btnAjoutPhoto {
	color: white;
	height:50px;
	width: 300px;
	border:none;
	border-radius: 20px;
	background: #1D6154;
	cursor:pointer;
}

.modaleAddProjet {
	max-width: 600px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width : 700px;
	height: 700px;
	background-color: white;
	padding-top: 50px;
	border-radius: 20px;
	padding-left:80px;
	padding-right: 80px;
	display: none;
}

.modaleAddOpen {
	display: block;
}

.modaleAddBody {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	padding: 35px;
	border-top: 1px solid grey;
}

.modaleAddFoot {
	text-align: center;
	margin-top: 20px;
	padding: 35px;
	border-top: 1px solid grey;
}

.formulaireAjoutProjet {
	display:flex;
	flex-direction: column;
}

.titreProjet {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#loginForm {
	display: block;
	width: 350px;
	margin: auto;
	padding-top: 80px;
}

#loginForm .groupe {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	gap:10px;
	
}

#loginForm h1 {
	color: #1D6154;
	text-align: center;
	margin-bottom: 20px;

}

#loginForm input {
	height: 40px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
}

#submit {
	cursor: pointer;
}

#errorMessage {
	color: red;
	margin-bottom: 30px;
	font-size: larger;
}

.mdpoublie {
	text-align: center;
	margin-bottom: 300px;
}

#loginForm .piedformulaire {
	text-align: center;
} 
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.categories {
	text-align: center;
}

.categories button {
	color:#1D6154;
	font-size: large;
	font-weight: bold;
	border: 1px, solid, #1D6154;
	background-color: white;
	cursor: pointer;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

