/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

aside {
    text-align: center;
    background-color: black;
    padding: 20px;
}


aside p {
    color: white;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

li {
	color:black
}

li img { 
	width: 20px;
	height: 20px;
}

section {
	margin: 50px 0
}

a {
	text-decoration: none;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}

h3 {
	text-align: center;
	font-family: 'Work Sans';
	font-size: 30px;
	margin-bottom: 40px;
} 



#btnModifier {
	border: none;
	background: white;
	cursor: pointer;
}

#iconeModifier {
	color: black;
}

#iconeEdition {
	color: white;
	margin-right: 10px;;
}

.overlayModale {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	display:none;
}

.modaleSupprProjet {
	width: 430px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: auto;
	background-color: white;
	padding-top: 50px;
	border-radius: 20px;
	padding-left:100px;
	padding-right: 100px;
	display:none;
}
 .delBtn{
	position: relative;
	top: -105px;
	right: -55px;
	color: white;
	background: black;
	border: none;
	cursor: pointer;
	height: 22px;
	width: 22px;
 }


.modaleSupprOpen {
	display: block;
}

.btnModalClose {
	position: absolute;
	top: 25px;
	right: 25px;
	font-weight: bolder;
	border: none;
	background-color: white;
	cursor: pointer;
}

.modaleSupprHead {
	margin-top:10px;
}

.modaleSupprBody {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 7px;
}

.projetModale {
	width: 80px;
	height: 130px;
	
}

.modaleSupprBody img {
	height :110px;
	width: 80px;
	object-fit: contain;
}

i.fa-trash-can {
	position: absolute;
	top:4px;
	right:5px;
}

.modaleSupprFoot {
	text-align: center;
	width: auto;
	margin-top: 20px;
	padding: 35px;
	border-top: 1px solid black;
}

.btnAjoutPhoto {
	font-family: 'Syne';
	color: white;
	height:40px;
	width: 250px;
	border:none;
	border-radius: 20px;
	background: #1D6154;
	cursor:pointer;
}

.modaleAddProjet {
	max-width: 600px;
	min-height: 615px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width : 430px;
	height: auto;
	background-color: white;
	padding-top: 50px;
	border-radius: 20px;
	padding-left:100px;
	padding-right: 100px;
	display: none;
}

.modaleAddOpen {
	display: block;
}

.btnModalClose , .btnRetourModaleSuppr {
	position: absolute;
	border: none;
	background: white;
	cursor: pointer;
	padding:0px;
	height:40px;
	width: 40px;
}

.btnModalClose {
	right:35px;
	top:25px;
}

.btnRetourModaleSuppr {
	left:35px;
	top:25px;
}

i.fa-arrow-left , i.fa-xmark {
	scale:180%;
}

.modaleAddBody {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.modaleAddFoot {
	text-align: center;
	padding: 35px;
	border-top: 1px solid grey;
}

.formulaireAjoutProjet {
	display:flex;
	flex-direction: column;
}

.ajoutImageProjet {
	display: flex;
	background: #E8F1F6;
	flex-direction: column;
	height: 200px;
	border: none;
	margin-bottom: 30px;
}

.fa-image {
	position: absolute;
	top: 25%;
	left: 49%;
	scale:500%;
	color: #CBD6DC;
}

input#image {
	display: none;
}

#imgPreview {
	position: absolute;
	left: 35%;
	height: 200px;
	width: 200px;
	border-color: white;
}

.ajoutImageProjet span {
	text-align: center;
	color: #306685;
	font-family: 'Work Sans';
	font-weight: bolder;
	background-color: #CBD6DC;
	width: 150px;
	border: none;
	border-radius: 20px;
	padding: 10px;
	position: absolute;
	top: 34%;
	left: 37%;
	cursor: pointer;
}



.ajoutImageProjet p {
	font-size: smaller;
	position: absolute;
	top: 41%;
	left: 42%;
}


.titreProjet, .categorieProjet {
	font-weight: bold;
}

.titreProjet {
	margin-bottom: 30px;
}


#title , #category {
	padding-left: 10px;
	margin-top: 10px;
	height:50px;
	border:none;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#category {
	width: 430px;
	/* Modification de la flèche du menu déroulant */
	appearance: none;
  	background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  	background-repeat: no-repeat;
  	background-position: right 2rem top 50%;
  	background-size: 0.65rem auto;
  	cursor: pointer;
	/************************/
}

#category:disabled {
	cursor:default;
}



.categorieProjet {
	margin-bottom:50px;
}

.titreProjet {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}

#uploadStatus {
	margin-bottom: 30px;
	color: red;
	font-weight: bold;
}

#uploadSuccess {
	margin-bottom: 30px;
	color: green;
	font-weight: bold;
}


.btnValiderAjout {
	color: white;
	font-family: 'Syne';
	background-color: #1D6154;
	border: none;
	border-radius: 20px;
	padding: 10px;
	width: 250px;
	cursor:pointer;

}

.btnValiderAjout:disabled {
	background-color: grey;
	cursor:default;
}


nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#loginForm {
	display: block;
	width: 350px;
	margin: auto;
	padding-top: 80px;
}

#loginForm .groupe {
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	gap:10px;
	
}

#loginForm h1 {
	color: #1D6154;
	text-align: center;
	margin-bottom: 20px;

}

#loginForm input {
	height: 40px;
	border: none;
	box-shadow: 0px 4px 14px 0px #00000017;
}

#submit {
	cursor: pointer;
}

#errorMessage {
	color: red;
	margin-bottom: 30px;
	font-size: larger;
}

.mdpoublie {
	text-align: center;
	margin-bottom: 300px;
}

#loginForm .piedformulaire {
	text-align: center;
} 
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 3em;
	margin-top: 3em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery p {
	margin-top: 10px;
}

.categories {
	text-align: center;
}

.categories button {
	color:#1D6154;
	font-size: large;
	font-weight: bold;
	border: 1px, solid, #1D6154;
	background-color: white;
	cursor: pointer;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

